fastapi==0.111.0
fastapi-cli==0.0.3
imagecodecs==2024.1.1
imagecodecs-numcodecs==2024.1.1
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
large-image==1.28.1
large-image-source-deepzoom==1.28.1
large-image-source-dicom==1.28.1
large-image-source-multi==1.28.1
large-image-source-nd2==1.28.1
large-image-source-pil==1.28.1
large-image-source-rasterio==1.28.1
large-image-source-test==1.28.1
large-image-source-tifffile==1.28.1
large-image-source-zarr==1.28.1
girder_large_image
